<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home Page</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body style="background-color: rgb(41, 50, 177); color: white;text-align: center; ">

        <div class="container" style="padding-top: 100px;">
          <h2 style="padding-bottom: 100px;">WELCOME TO NEW HOMESCHOOL</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque id eum laboriosam repellat corporis enim praesentium necessitatibus vitae quaerat laudantium nostrum, velit, consequuntur in earum quibusdam vel quis iste natus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, non expedita! Quasi laboriosam cupiditate fuga non quo illo natus, in temporibus doloribus delectus necessitatibus placeat perferendis ratione provident, eius impedit!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Et delectus eos dolorum saepe repellat libero quae eaque laudantium minus sapiente omnis quas id similique, labore sed exercitationem? Eius, molestiae atque.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quis laboriosam corporis eum quasi, aliquid aspernatur similique quo! Laborum aliquam possimus, iusto dolor illo iste exercitationem aut alias neque et?
            </p>
        </div>
        <a class="nav-link" href="register"><input type="submit" class="btn btn-success" value="Register"></a> <br>
        <a class="nav-link" href="gmail-login"><input type="submit" class="btn btn-success" value="Login with Gmail"></a>
    </body>
</html>